<job-header></job-header>
<section class="content">
  <!--sonub-left *ngIf=" app.size == 'big' "></sonub-left-->
  <section class="center">

    <h1 *ngIf=" ! login ">{{ ['User Registration', '회원가입'] | ek }}</h1>
    <h1 *ngIf=" login ">{{ ['Account Update', '회원 정보 수정'] | ek }}</h1>

    <form>

      <fieldset *ngIf=" ! login " class="row-container">
        <label for="inputID" class="text">{{ ['User ID', '아이디'] | ek }}</label>
        <div class="input"><input [(ngModel)]="form.id" class="form-control" name="id" type="text" id="inputID" placeholder="Input User ID" autocomplete="off"></div>
      </fieldset>
      <fieldset *ngIf=" ! login " class="row-container">
        <label for="inputPassword" class="text">{{ ['Password', '비밀번호'] | ek }}</label>
        <div class="input"><input [(ngModel)]="form.password" class="form-control" name="password" type="password" id="inputPassword" placeholder="Input Password" autocomplete="off"></div>
      </fieldset>
      <!--fieldset class="row-container">
        <label for="inputName" class="text">{{ ['Name', '이름'] | ek }}</label>
        <div class="input"><input [(ngModel)]="form.name" class="form-control" name="name" type="text" id="inputName" placeholder="Input Name" autocomplete="off"></div>
      </fieldset-->
      <fieldset class="row-container">
        <label for="inputEmail" class="text">{{ ['Email', '이메일'] | ek }}</label>
        <div class="input"><input [(ngModel)]="form.email" class="form-control" name="email" type="email" id="inputEmail" placeholder="Input Email" autocomplete="off"></div>
      </fieldset>
      <!--fieldset class="row-container">
        <label for="inputMobile" class="text">{{ ['Mobile', '모바일'] | ek }}</label>
        <div class="input">
          <input [(ngModel)]="form.mobile" class="form-control" name="mobile" type="number" id="inputMobile" placeholder="Input your phone number." autocomplete="off">
          <div class="text-muted">{{ ['Input digits only', '숫자만 입력하세요.'] | ek }}</div>
        </div>
      </fieldset-->

      <!--fieldset class="row-container">
        <label class="text">{{ ['Gender','성별'] | ek }}</label>
        <div class="input">
          <label for="inputGenderM" class="form-check-inline">
            <input [(ngModel)]="form.gender" class="form-check-input" name="gender" type="radio" id="inputGenderM" value='M'>
            {{ ['Male','남'] | ek }}
          </label>
          <label for="inputGenderF" class="form-check-inline">
            <input [(ngModel)]="form.gender" class="form-check-input" name="gender" type="radio" id="inputGenderF" value='F'>
            {{ ['Female','여'] | ek }}
          </label>
        </div>
      </fieldset-->

      <!--fieldset class="row-container">
        <label for="inputBirthday" class="text">{{ ['Birth Day','생년월일'] | ek }}</label>
        <div class="input"><input [(ngModel)]="form.birthday" class="form-control" name="birthday" type="date" id="inputBirthday"></div>
      </fieldset-->


      <fieldset  class="row-container buttons">
        <button *ngIf=" ! login " (click)="onClickRegister()" type="submit" class="btn btn-primary">
          <i class="fa fa-sign-in"></i> {{ ['REGISTER', '회원가입'] | ek }}
        </button>
        <button *ngIf=" login " (click)="onClickUpdate()" type="submit" class="btn btn-primary">
          <i class="fa fa-sign-in"></i> {{ ['UPDATE', '정보수정'] | ek }}
        </button>
        <button routerLink="/" type="button" class="btn btn-secondary">
          <i class="fa fa-times"></i> {{ ['Cancel', '취소'] | ek }}
        </button>

      </fieldset>

      <fieldset class="process">
        <div *ngIf=" process.loader ">
          <i class="fa fa-spinner fa-spin"></i> {{ ['Connecting to server ...','회원 가입 중...'] | ek }}
        </div>
        <div *ngIf=" process.error " class="alert alert-danger" role="alert">
          <strong>{{ 'error' | ln }} !</strong> {{ process.error }}
        </div>
      </fieldset>
    </form>
  </section><!--/.center-->
  <!--sonub-right *ngIf=" app.size == 'big' "></sonub-right-->
</section><!--/section.content-->

