home-page {
  display: block;
  @include color-combination( 'setting' );
  //background-color: #404;
}


home-page .content {

  .search.form-inline {
    padding: 1em 0 .5em;
    .active {
      margin-bottom: .5em;
      label {
        padding: .375rem 0;
      }
    }
  }
  .card-deck {
    margin-bottom: 1em;
    @media all and ( max-width: $break-sm - 1 ) {
      .card {
        margin-bottom: 1em;
        img.card-img-top {
          width:50%;
          margin: 0 auto;
        }
      }
    }
    .card {
      .share {
        .shareLink {
          word-break: break-all;
          cursor: pointer;
        }
      }
      &.dummy { // hiding the dummy content that was added to make the flex divisible by 3
        border: 1px solid transparent;
        &>img,div {
          display: none!important;
        }
      }
      .card-footer {
        padding: 0;
        .nav-click {
          //float: left;
          //width: 50%;
          padding: .5em 0;
          text-align: center;
          cursor: pointer;
        }

      }
    }
  }




}




home-page .no-more-posts {
  display: none;
  margin: 1em;
  text-align: center;
  font-size: 1.2em;
  &.active {
    display: block!important;
  }

  &.in-page-loading {
    margin-left: 1em;
    padding-top: 2rem;
    padding-bottom: 3rem;
    .fa.fa-spinner {
      font-size: 2.5rem;
    }
  }
}
