$gutter-middle: .4em;

home-page {
  display: block;
  @include color-combination( 'setting' );
  //background-color: #404;
}


home-page .content {

  .search.form-inline {
    padding: 1em 0 .5em;
    .active {
      margin-bottom: .5em;
      label {
        padding: .375rem 0;
      }
    }
  }
  .card-deck {
    margin-bottom: 1em;
    @media all and ( max-width: $break-sm - 1 ) {
      .card {
        img.card-img-top {
          width:50%;
          margin: 0 auto;
        }
      }
    }
    .card {
      img.card-img-top {

      }
      .share {
        .shareLink {
          word-break: break-all;
        }
      }
    }
  }

}



.action-group {
  position: absolute;
  top: $gutter-middle * 2;
  right: 0;
  width: 30%;

  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;

  color: #777;

  .fa-stack {
    font-size: .8rem;
    color: #999;
  }

}



home-page .no-more-posts {
  display: none;
  margin: 1em;
  text-align: center;
  font-size: 1.2em;
  &.active {
    display: block;
  }
}
