@import './vars';
@import './module';

/** Variables

 *
 */
$header-top: 65px;
$gutter: 16px;

/** Bootstrap overwrite
 *
 */
.card-deck .card:not(:last-child) {
    margin-right: 0!important;
}
/** Bootstrap break points;
 *
 */
$break-sm: 576x;
$break-md: 768px;
$break-lg: 992px;
$break-xl: 1200px;


/** Layout
 *
 */

section.content {
    margin-top: $header-top + $gutter!important;
    padding: 0 1em 1em;
    @media all and ( min-width: $break-md ) {
        margin: auto;
        max-width: $break-lg;
    }
}



/** Module
 *
 *
 */
 header {
     nav {
         background-color: #eceeef;
     }
 }

 .card-columns {
     column-gap: .8em!important;
 }

.card {
    img {
        width: 100%;
    }
    p {
        font-size: .9em;
    }
}


.jumbotron {
    padding: 1em .8em!important;
}
@media (min-width: 576px) {
    .jumbotron {
        padding: 1.6em 1.2em!important;
    }
}




/** */
header {
    nav {
        background-color: #7186a0;
        //color: white;
    }
    .post {
        position: absolute;
        top: .4em;
        right: .4em;
        width: 6em;
    }
}
.search {
    .more {
        display: none;
    }
}

.active {
    display: inline-block!important;
    &>label,select {
        float: left;
    }
}
