sonub-login-page {
    display: block;
    @include color-combination( 'user' );
    h1 {
        margin: 0;
        padding: .4em 0 .4em .8em;
        border-left: 4px solid grey;
        font-weight: normal;
        font-size: 1.6rem;
        background-color: #efefef;
    }
    .process {
        margin-top: .4em;
    }

    .form-wrapper {
        margin-top: 1em;
    }
}