<job-header></job-header>
<section class="content">
  <!--sonub-left *ngIf=" app.size == 'big' "></sonub-left-->
  <section class="center">
          <h1>{{ ['Login', '로그인'] | ek }}</h1>
          <div class="container-fluid form-wrapper">
          <form>

            <fieldset class="row form-group">
              <label for="inputID" class="col-md-2 col-form-label">{{ [ 'User ID', '아이디' ] | ek }}</label>
              <div class="col-md-10">
                <input [(ngModel)]="form.id" name="id" type="text" class="form-control" id="inputID" placeholder="Input User ID">
                <small class="form-text text-muted">{{ ['Input your login user id.', '회원 아이디를 입력하세요.'] | ek }}</small>
              </div>
            </fieldset>

            <fieldset class="row form-group">
              <label for="inputPassword" class="col-md-2 col-form-label">{{ ['Password', '비밀번호'] | ek }}</label>
              <div class="col-md-10">
                <input [(ngModel)]="form.password" name="password" type="password" class="form-control" id="inputPassword" placeholder="Input Login Password">
                <small class="form-text text-muted">{{ ['Input login password.', '비밀번호를 입력하세요.'] | ek }}</small>
              </div>
            </fieldset>

            <fieldset class="row form-group">
              <div class="col-sm-12">
                <button (click)="onClickLogin()" type="submit" class="btn btn-primary">
                  <i class="fa fa-sign-in"></i> {{ ['LOGIN', '로그인'] | ek }}</button>
                <button routerLink="/" type="button" class="btn btn-secondary">
                  <i class="fa fa-times"></i> {{ ['Cancel', '취소'] | ek }}
                </button>

                <div class="process">
                  <div *ngIf=" process.loader ">
                    <i class="fa fa-spinner fa-spin"></i> {{ ['Connecting to server ...', '로그인 하는 중...'] | ek }}
                  </div>
                  <div *ngIf=" process.error " class="alert alert-danger" role="alert">
                    <strong>{{ 'error' | ln }} !</strong> {{ process.error }}
                  </div>
                </div>
              </div>
            </fieldset>

          </form>
        </div>
  </section><!--/.center-->
  <!--sonub-right *ngIf=" app.size == 'big' "></sonub-right-->
</section><!--/section.content-->

