job-header {
    display: block;
    header {
        font-size: .75em;
        font-family: Gulim, AppleGothic, Arial, Helvetica, sans-serif;
        .icon {
            font-size: 1.6em;
            .logo {
              margin-top: .5rem;
              margin-left: .5rem;
              width: 1.375rem;
              height: 1.375rem;
            }
        }
    }
    header.navbar.navbar-fixed-top {
        margin: 0 ;
        padding: $gutter;
    }
    .alert { display: none; }

    nav.menus {
        position: relative;
        text-align: center;
        ul.menu {
            list-style: none;
            margin: 0;
            margin-right: 4em;
            padding: 0;
            li {
                padding: .28em $gutter .3em 0;
                float: left;
                cursor: pointer;
            }
        }
        .all-menu {
            position: absolute;
            top: 0;
            right: 0;
            .icon {
                padding: .25em 0 .2em;
                font-size: 2.2em;
                color: white;
            }
        }
    }
}
